*
{
  margin: 0;
  padding: 0
}
body
{
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: monospace;
  background-color: #000;
  color:  #c0ca32
}
