html{
  margin: 0%;
  padding: 0%;
  line-height: 1.5;
  font-size: 16px;
}
body{
  letter-spacing: 2px;
  word-spacing: 4px;
  padding-left: 16px;
  padding-right: 23px;
  padding-top: 64px;
  border-left: 1px solid black;
  font-family: arial, sans-serif, verdana;
}
h1{  
  text-align: left;
  text-decoration: overline underline;
  background: silver;
  height: 49px;
}
h2{
  text-decoration: overline;
}
h3{
  padding-top: 23px;
  text-decoration: underline;  
}
h1, h2, h3{
  top: 0;
  text-shadow: 1px 1px 2px white;
  position: fixed;
}
h2, h3{
  right: 23px;
}
h4, h5{
  text-decoration: overline underline;
  font-size: 20px;
}
.container-firstLetter::first-letter{
  font-size: 32px;
}

/* mediaQueries */

@media (min-width: 23px) and (max-width: 959px)  {
  .style-h1{
    background: none;    
  } 
}
@media (min-width: 23px) and (max-width: 959px)  {  
  .style-h2{
    text-decoration: none;
    padding-top: 52px;
  } 
}
@media (min-width: 23px) and (max-width: 959px)  {  
  .style-h3{
    padding-top: 73px;
  }
} 
@media (min-width: 23px) and (max-width: 959px)  {
  .style-h1, .style-h2, .style-h3{
    margin: 1%;
    display: contents;    
  }
}
@media (min-width: 23px) and (max-width: 959px)  {
  .style-h4{
    padding-top: 73px;
 }
}